@import url("reset.css");
@import url("global.css");

.s-wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.s-wrapper .s-left-column {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  top: 0;
  left: 0;
  z-index: 1;
}

.s-wrapper .s-main-content {
  width: 100%;
  height: 100%;
  background-color: gray;
  padding-left: 30px;
}

nav {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

nav ul li {
  margin: 60px 0;
}

nav ul li:first-child {
  margin-top: 0;
}
nav ul li:last-child {
  margin-bottom: 0;
}

nav ul li a {
    color: #fff;
    border: solid 1px #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav::before{
    content: '';
    position: absolute;
    top: 0;
    z-index: 0;
    width: 2px;
    height: 100%;
    background-color: #fff;
}

nav ul{
    z-index: 1;
}

nav ul li a:hover, 
nav ul li a.active{
    background-color: #fff;
    color: var(--primary-color);
}

nav .navigation__icon{
    position: absolute;
    top:-20px;
}